:root {
    --primary-color: rgba(2, 0, 36, 1);
    --secondary-color: rgba(9, 70, 121, 1);
    --tertiary-color: rgba(0, 212, 255, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow-x: hidden;
}

body {
    font-family: "Asap";
    font-size: 1rem;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, var(--primary-color) 0%, var(--secondary-color) 25%, var(--tertiary-color) 100%);
}

.start_btn,
.start_box,
.quiz_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Start Button Styling */
.start_btn button {
    font-size: 2rem;
    font-weight: 500;
    color: var(--secondary-color);
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 15px;
    background: #fff;
    cursor: pointer;
    animation-name: fade_in;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
}

/* Start Box Styling */
.start_box {
    display: none;
    width: 50%;
    background: #fff;
    border-radius: 10px;
}

.start_box .start_title {
    height: auto;
    border-bottom: 1px solid var(--primary-color);
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

.start_box .start_info {
    font-size: 1.75rem;
    display: flex;
    flex: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.start_box .buttons {
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top: 1px solid var(--primary-color);
    padding: 10px 0 10px 0;
}

.start_box .buttons button,
.answer {
    margin: 0 5px;
    height: 5vh;
    width: 10vw;
    border: 1px solid transparent;
    border-radius: 15px;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 500;
    cursor: pointer;
}

.buttons button.quit {
    color: red;
    border: 1px solid red;
}

.buttons button.continue {
    color: var(--primary-color);
    background: var(--tertiary-color);
    border-color: var(--primary-color);
}

.quiz_box {
    display: none;
    width: 50vw;
    height: auto;
    background: #fff;
    border-radius: 10px;
}

.quiz_box header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--primary-color);
    height: auto;
    padding: 10px;
}

.quiz_box .quiz_title {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 900;
    padding: 10px;
}

.quiz_box .quiz_timer {
    display: flex;
    font-size: 1.25rem;
    font-weight: 900;
    background: var(--secondary-color);
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    align-items: center;

}

.quiz_box .quiz_timer .timer_text {
    padding: 0 5px;
}

.quiz_box .quiz_timer .timer_seconds {
    padding: 5px;
    background: #fff;
    border-radius: 5px;
    color: var(--secondary-color);
}

.quiz_box section {
    text-align: center;
}

.quiz_box .question {
    font-size: 1.75rem;
    padding: 1vh;
}

.quiz_box .answer_list {
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-bottom: 1px solid var(--primary-color);
}

.answer {
    width: 100%;
    margin: 0 0 5px;
    font-weight: 600;
    border-color: var(--secondary-color);
    color: var(--secondary-color);
}

.answer:disabled {
    width: 100%;
    margin: 0 0 5px;
    font-weight: 600;
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.6;
}

footer section {
    margin: 5px;
    display: flex;
    justify-content: space-between;
}

.exit,
.next {
    margin: 0 5px;
    height: 5vh;
    width: 10vw;
    border: 1px solid transparent;
    border-radius: 15px;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 500;
    cursor: pointer;
}

.next:disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.6;
}
.exit {
    border-color: red;
    color: red;
}

.next {
    background: var(--tertiary-color);
    border-color: var(--primary-color);
    color: var(--primary-color);
}


/* Custom Animation for Start button */
@keyframes fade_in{
    0% {opacity: 0;}
    100% {opacity: 1;}
}