:root {
    --primary-color: rgba(2, 0, 36, 1);
    --secondary-color: rgba(9, 70, 121, 1);
    --tertiary-color: rgba(0, 212, 255, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow-x: hidden;
}

body {
    font-family: "Asap";
    background: rgb(2,0,36);
    background: linear-gradient(180deg, var(--primary-color) 0%, var(--secondary-color) 25%, var(--tertiary-color) 100%);
}

.start_btn,
.start_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Start Button Styling */
.start_btn button {
    font-size: 25px;
    font-weight: 500;
    color: var(--secondary-color);
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 15px;
    background: #fff;
    cursor: pointer;
    animation-name: fade_in;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
}

/* Start Box Styling */
.start_box {
    display: none;
    width: 50vw;
    height: auto;
    background: #fff;
    border-radius: 10px;
}

.start_box .start_title {
    height: auto;
    width: 100%;
    border-bottom: 1px solid var(--primary-color);
    text-align: center;
    font-size: 4vw;
    font-weight: bold;
    padding: 10px;
}

.start_box .start_info {
    font-size: 2.25vw;
    display: flex;
    flex: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.start_box .buttons {
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top: 1px solid var(--primary-color);
    padding: 10px 0 10px 0;
}

.start_box .buttons button {
    margin: 0 5px;
    height: 5vh;
    width: 10vw;
    border: 1px solid transparent;
    border-radius: 15px;
    color: #fff;
    font-size: 1.25vw;
    font-weight: 500;
    cursor: pointer;
}

.buttons button.quit {
    color: red;
    border: 1px solid red;
}

.buttons button.continue {
    color: var(--primary-color);
    background: var(--tertiary-color);
}

/* Custom Animation for Start button */
@keyframes fade_in{
    0% {opacity: 0;}
    100% {opacity: 1;}
}